name: seeatree_4_aed
description: A new Flutter project.

dependencies:
  flutter:
    sdk: flutter
  firebase_database: ^0.4.1
  firebase_core: any #higher
  map_view: "^0.0.14"

    

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter


# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  assets:
  - assets/tree1.png
  - assets/tree2.png
  - assets/tree3.png
  - assets/AddTreeSpecs.png
  - assets/photo1.jpg
  - assets/photo2.jpg
  - assets/Landmark.png
  - assets/Habitat.png
  - assets/Botanical.png
  - assets/Historical.png
  - assets/Shape.png
  - assets/Size1.png
  - assets/Size2.png
  - assets/Size3.png
  - assets/Size4.png
  - assets/Girth1.JPG
  - assets/Girth2.JPG
  - assets/Girth3.JPG
  - assets/Girth4.JPG
  - assets/Canopy1.png
  - assets/Canopy2.png
  - assets/Canopy3.png
  - assets/sampletree.jpg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.io/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.io/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.io/custom-fonts/#from-packages
