<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>811666961077-geth41qfr8tfaj7m7tmn1a4k96kap0ab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811666961077-geth41qfr8tfaj7m7tmn1a4k96kap0ab</string>
	<key>API_KEY</key>
	<string>AIzaSyAxEgMrW_iFRdzss_z5y3hE2QUKBBhSBzU</string>
	<key>GCM_SENDER_ID</key>
	<string>811666961077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.seeatree4aed</string>
	<key>PROJECT_ID</key>
	<string>tree-data-db759</string>
	<key>STORAGE_BUCKET</key>
	<string>tree-data-db759.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811666961077:ios:5ffc5064850fbcc5</string>
	<key>DATABASE_URL</key>
	<string>https://tree-data-db759.firebaseio.com</string>
</dict>
</plist>